@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chillax-Variable';
    src: url('../fonts/Chillax-Variable.woff2') format('woff2'),
        url('../fonts/Chillax-Variable.woff') format('woff'),
        url('../fonts/Chillax-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

* {
    font-family: 'Chillax-Variable';

}

/* Animation */
@keyframes exit {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}